{__NOLAYOUT__}
<div class="panel panel-default panel-intro" id="panel-cause">
    <div class="tab-pane fade active in" id="one">
        <div class="row" >
            <div class="col-md-2 form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <a href="javascript:;" class="btn-refresh">
                                <i class="fa fa-calendar"></i>
                            </a>
                        </span>
                        {:Form::daterange("datarange", $Request.param.scope)}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>
