<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="libs/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/theme/default-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/chat.css">
    <script src="libs/angular/angular.min.js"></script>

</head>
<body>
<div id="app" class="app"  ng-app="app" ng-controller="chat">
    <section id="main-right" class="main-right">
        <!-- header -->
        <div id="header-right" class="header-right">
            <!-- profile pict -->
            <div id="header-img" class="profile header-img">
                <img src="images/chatgpt.png" alt="">
            </div>
            <!-- name -->
            <h4 class="name friend-name">OpenAI</h4>
            <h4 class="name friend-name" ng-show="postting">Cogitating...</h4>

        </div>

        <!-- chat area -->
        <div id="chat-area" class="chat-area">
            <div  ng-repeat="msg in messages">
                <div  class="friends-chat"  ng-if="msg.role == 'assistant'">
                    <div class="profile friends-chat-photo">
                        <img src="images/chatgpt.png" alt="">
                    </div>
                    <div class="friends-chat-content">
                        <p class="friends-chat-name">OpenAI</p>
                        <p class="friends-chat-balloon">{{ msg.content }}</p>
                    </div>
                </div>
                <!-- YOUR CHAT TEMPLATE -->
                <div  class="your-chat"   ng-if="msg.role == 'user'">
                    <p class="your-chat-balloon">{{ msg.content }}</p>

                </div>
            </div>
        </div>

        <!-- typing area -->
        <div id="typing-area" class="typing-area">
            <!-- input form -->
            <input id="type-area" class="type-area" placeholder="Type something..." ng-model="content">
            <span class="glyphicon glyphicon-send send-btn" ng-click="sendMessage();"></span>
        </div>
    </section>
</div>


</body>
</html>

<script src="libs/jquery/dist/jquery.min.js"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/chat.js"></script>
